
<%= simple_form_for(@leaflet) do |f| %>
  <%= f.input :email,label:"Email" %>
  <%= f.input :name,label:"Nombre" %>
  <%= f.input :telephone,label:"Teléfono" %>
  <%= f.input :status,label:"Estatus" %>
  <%= f.input :executive,label:"Ingresado por" %>
  <%= f.input :date,label:"Fecha de Ingreso" %>
  <%= f.input :conversation,label:"Conversación" %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
